*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:948px;
height:378px;
overflow:hidden;
font-family:Arial,sans-serif;
background:transparent;
}

.pantalla{
position:relative;
width:948px;
height:378px;
background:transparent;
}


/* NOMBRE */

.nombre{
position:absolute;
top:0px;
left:300px;
width:350px;
height:55px;
background:transparent;
border:none;
outline:none;
text-align:center;
font-size:28px;
font-weight:900;
color:gray;
caret-color:white;
text-transform:uppercase;
}

.email{
position:absolute;
top:120px;
left:310px;
width:340px;
height:35px;
background:transparent;
border:none;
outline:none;
padding-left:12px;
font-size:25px;
font-weight:900;
color:#222;
}

.password{
position:absolute;
top:200px;
left:410px;
width:340px;
height:35px;
background:transparent;
border:none;
outline:none;
padding-left:12px;
font-size:25px;
font-weight:900;
color:#222;
}

.btn-login{

position:absolute;

top:320px;
left:150px;

width:160px;
height:50px;

background:black;

border:none;
border-radius:999px;

color:white;

font-family:'Poppins',sans-serif;

font-size:27px;

font-weight:900;

letter-spacing:1px;

cursor:pointer;

box-shadow:
0px 8px 0px #111,
0px 12px 20px rgba(0,0,0,.35);

z-index:999;

}


.btn-login:active{

transform:translateY(5px);

box-shadow:
0px 3px 0px #111;

}


/* PLACEHOLDERS */

.nombre::placeholder{
color:rgba(255,255,255,.6);
}

.email::placeholder,
.password::placeholder{
color:#888;
}


#mensaje{

position:absolute;

bottom:0;

width:100%;

text-align:center;

font-size:16px;

color:#ff00ff;

}
