*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:948px;
height:265px;
overflow:hidden;
font-family:Arial,sans-serif;
background:transparent;
}

.pantalla{
position:relative;
width:948px;
height:265px;
background:transparent;
}


/* NOMBRE */

.nombre{
position:absolute;
top:0px;
left:300px;
width:350px;
height:55px;
background:transparent;
border:none;
outline:none;
text-align:center;
font-size:30px;
font-weight:900;
color:white;
caret-color:white;
text-transform:uppercase;
}

.email{
position:absolute;
top:105px;
left:445px;
width:340px;
height:35px;
background:transparent;
border:none;
outline:none;
padding-left:12px;
font-size:20px;
color:#222;
}

.password{
position:absolute;
top:180px;
left:445px;
width:340px;
height:35px;
background:transparent;
border:none;
outline:none;
padding-left:12px;
font-size:20px;
color:#222;
}

.btn-login{
position:absolute;
top:105px;
left:860px;
width:70px;
height:70px;
background:transparent;
border:none;
cursor:pointer;
}


/* PLACEHOLDERS */

.nombre::placeholder{
color:rgba(255,255,255,.6);
}

.email::placeholder,
.password::placeholder{
color:#888;
}


/* BOTON CHECK */

.btn-login{

position:absolute;

top:70px;
left:860px;

width:70px;
height:70px;

background:transparent;

border:none;

cursor:pointer;

}


#mensaje{

position:absolute;

bottom:0;

width:100%;

text-align:center;

font-size:16px;

color:#ff00ff;

}
